<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Victor Álvaro González y Jaime Hurtado de Mendoza Sastre.
    La práctica está alojada en el repositorio https://github.com/jvupmx/Quiz
</p>

<img src="/images/JV.JPG" width='300px'/>
