<h1>Ayuda</h1>

<p>
    Un quiz es un conjunto de preguntas que suelen tener varias opciones de respuesta siendo una (o varias) correcta(s).
    Para contestar a las preguntas basta con seleccionar la(s) respuesta(s) que considere correcta(s).
    El objetivo del portal es poder crear quices para compartirlos con otros usuarios que también utilicen el portal, así como divertirse contestando los quices creados por otros usuarios.
</p>
